
*.*~
*.EGG
*.EGG-INFO
*.bs
*.egg-info
*.gem
*.log
*.o
*.pid
*.rbc
*.seed
*.sw*
*.tmp
.*.cfg
.DS_Store
.config
.dat*
.grunt
.last_cover_stats
.lock-wscript
.repl_history
.rvmrc
Build.bat
MANIFEST.bak
META.json
META.yml
MYMETA.*
Makefile
Makefile.old
coverage


!Build
/.bundle
/.config
/.yardoc
/Build
/InstalledFiles
/_yardoc
/blib
/cover_db
/coverage
/inc
/lib-cov
/lib/bundler/man
/logs
/node_modules
/nytprof.out
/pids
/pkg
/pm_to_blib
/rdoc
/spec/reports
/test/tmp
/test/version_tmp
/tmp

