[user]
	name = leungwensen
	email = leungwensen@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = true
[core]
	editor = vim
	excludesfile = /Users/liangwensen/.gitignore
	quotepath = false
[github]
	user = leungwensen
	token = vincent881129
[gui]
	encoding = utf-8
[i18n]
	commitencoding = utf-8
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = tracking
